<h1 class="text-center mb-5 avenir-light">Toutes les informations sur le <span class="avenir">tri dans ta ville</span></h1>

<div class="bigger-x-margin">
    <%= form_tag(search_path, method: "post") do %>
        <div class="form-group">
                <%= text_field_tag :city, nil, placeholder: "Cherche ta Ville", class: "form-control form-control-lg p-4 shadow-sm" %>
        </div>
        <div class="form-group">
                <%= text_field_tag :street, nil, placeholder: "Cherche ta Rue", class: "form-control form-control-md shadow-sm d-none" %>
        </div>
        <div class="form-group text-center my-2">
            <%= button_tag type: 'submit', class: "btn btn-main", id: "main-search" do %>
                <%= fa_icon "search" %>
            <% end %>
        </div>
    <% end %>
</div>

<script>
$(document).ready(function() {
    var cities = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
        url: '/city/autocomplete?city=%QUERY',
        wildcard: '%QUERY'
        }
    });

    typeaheadCity = $('#city').typeahead(null, {
        source: cities
    });

    typeaheadCity.on('typeahead:selected', function(e, selected) {
        var id_value_string = $(this).val().toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/(^-|-$)/g,'');
        $.ajax({
            dataType: "json",
            url: '/search-streets/' + id_value_string,
            dataType: 'json',
            success: function(response) {
                $("#street").hide().removeClass("d-none").fadeIn(1000);

                function jsonToArr(json)  {
                    arrResult = [];
                    for (var i = 0; i < json.length; i++) {
                        arrResult.push(response[i].name);
                    }
                    return arrResult
                };

                var streets = new Bloodhound({
                    local: jsonToArr(response),
                    datumTokenizer: Bloodhound.tokenizers.whitespace,
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                });

                $('#street').typeahead({
                    highlight: true
                },
                {
                    name: "streets",
                    source: streets.ttAdapter()
                });

            }
        });
    });
});
</script>