<h1>Calendar</h1>

<h1>Date de passage des emcombrants</h1>

<h2>Prochaine date:</h2>
<% next_debarras(@today).each do |data| %>
    <p>A <%= data[0] %>, le <%= data[1] %></p>
<% end %>

<% @months_of_year.each do |month| %>
    <h2><%= find_month_with_int(month) %></h2>
    <% @cities.each do |city| %>
        <h3><%= city.name %></h3>
        <% city.sectors.each do |sector| %>
                <p>Secteur <%= sector.number %>: <%= current_month_dates(month, sector.bin_brocantes.first) %>
        <% end %>
    <% end %>
<% end %>