<% provide :head_tags do %>

    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=' + Rails.application.credentials.google_maps_api_key %>

    <script>
    $(document).ready(function() {
      const options = {
        center: {lat: -34.397, lng: 150.644},
        zoom: 13
      };
      
      initMap("<%= @city.name %>", options)
    });
    </script>
<% end %>

<div class="container">
  <h1 class="small-x-margin text-center"><%= @city.name %></h1>

  <%= render partial: "layouts/city_header_info" %>

  <div class="row align-items-center">
    <div class="col">
      <div id="city-map"></div>
    </div>
    <div class="col">
      <%= render "layouts/map_text_right" %>
    </div>
  </div>

  <div>
    <h2 class="text-center">Liste et horaires de passage par rue</h2>
    <table class="mx-auto">
      <tbody>
        <% @streets.each do |street| %>
          <tr>
            <td><%= street.name %></td>
            <td><%= link_to 'Show', city_street_path(street.city, street) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="small-x-margin">
    <%= render partial: "layouts/city_general_info" %> 
  </div>
</div>


